table {
  border-collapse: collapse;
  background-color: #FAEBD7;
  width:500px;
  height:500px;
  border:solid 1px #1E90FF;
}

td {
  text-align:center;
  padding:15px;
  font-weight: bold;
  color:#1E90FF;
  font-size:20px;
  
}

input {
  border:none;
  text-align: right;
  margin:0 auto;
  padding:30px 50px;
  background-color: #FAEBD7;
  font-size:50px;
  font-weight:bold;
}
input:focus{
  outline-style: none;
}